<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cuenta</title>
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="../css/formularios.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!-- Header -->
    <header class = "header" id="header">
        <div class="logo">
            <h1>Tamarindo Tech</h1>
        </div>
    </header>
    <main class="Contenido">        

        <div class="contenedor-formulario">

            <form action="#" class="formulario" id="formulario" name="iniciarsesion">
                <h1>
                    Inicia Sesión
                </h1>                

                <!-- GRUPO CORREO-->
                <div class="formulario__grupo" id="grupo__correo">
                    <label class="formulario__label">Correo electronico</label>
                    <div class="formulario__grupo-input">
                        <input type="email" class="formulario__input" name="correo" id="correo" placeholder="correo@correo.com">
                        <i class='formulario__validacion-estado bx bxs-x-circle'></i>
                    </div>
                    <p class="formulario__input-error">
                        Debe agregar un correo con la siguiente estructura usuario@dominio.extension,
                        usuario acepta letras,guión bajo y números,
                        dominio acepta solo letras,
                        extension, acepta solo letras
                    </p>
                </div>

                <!-- GRUPO CONTRASEÑA-->
                <div class="formulario__grupo" id="grupo__password">
                    <label class="formulario__label">Contraseña*</label>
                    <div class="formulario__grupo-input">
                        <input type="password" class="formulario__input" name="password" id="password">
                        <i class='formulario__validacion-estado bx bxs-x-circle'></i>
                    </div>
                    <p class="formulario__input-error">
                        La contraseña debe ser de 4 a 12 digitos
                    </p>
                </div>                

                <!-- GRUPO DE CAMPOS REQUERIDOS-->
                <div class="formulario__mensaje " id="formulario__mensaje">
                    <p>Error: Debes completar todos los campos</i></p>
                </div>

                <!-- GRUPO ENVIAR-->
                <div class="formulario__grupo formulario__grupo-btn-enviar">
                    <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">
                        Inició Sesión Correctamente
                    </p>
                    <input type="submit" class="formulario__btn" value="Iniciar Sesión">
                </div>

                <div class="contenedor_link_iniciosesion">
                    <p>¿Aún no tienes una cuenta? <a href="logOn">Crear Cuenta</a></p> 
                </div>

            </form>            
        </div>
            


        <div class="contenedor-mensaje">
            <h3>
                👋 ¡Bienvenido de nuevo!
            </h3>
            <br>
            <p>
                Ingresa a tu cuenta y mantente al día con todo lo que ocurre en tu comunidad.
                Noticias, eventos, transporte y mucho más te están esperando.
                <br><br>
                ✨ Tu comunidad, a un clic de distancia.            
            </p>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-contenedor">
            <div class="footer-contenido">
                <!-- Columna 1: Logo y redes sociales -->
                <div class="footer-section">
                    <h3>Nunciatura</h3>
                    <div class="social-icons">
                        <!-- Twitter/X -->
                        <a href="#" aria-label="Twitter">
                            <img src="/img/X.png" alt="Twitter/X">
                        </a>
                        <!-- Instagram -->
                        <a href="#" aria-label="Instagram">
                            <img src="/img/logotipo-de-instagram.png" alt="Instagram">
                        </a>
                        <!-- YouTube -->
                        <a href="#" aria-label="YouTube">
                            <img src="/img/youtube.png" alt="YouTube">
                        </a>
                        <!-- LinkedIn -->
                        <a href="#" aria-label="LinkedIn">
                           <img src="/img/linkedin.png" alt="LinkedIn">
                        </a>
                    </div>
                </div>

                <!-- Columna 2: Contactenos -->
                    <div class="footer-section">
                        <h3>Contactenos</h3>
                        <ul>
                            <li><a href="mailto:nunciaturaAdmin@gmail.com">Contactar al Administrador</a></li>
                            <!-- <li><a href="#">Preguntas Frecuentes</a></li> -->
                        </ul>
                    </div>

                    <!-- Columna 3: Información -->
                    <div class="footer-section">
                        <h3>Información</h3>
                        <ul>
                            <li><a href="Landing_page">Tamarindo Tech</a></li>
                        </ul>
                    </div>

                    <!-- Columna 4: Recursos -->
                    <div class="footer-section">
                        <h3>Recursos</h3>
                        <ul>
                            <li><a href="Tutoriales.html">Tutoriales</a></li>
                            <li><a href="ayuda.html">Ayuda</a></li>
                            <!-- <li><a href="./html/reportes.html">Crear un Reporte</a></li> -->
                            <!-- <li><a href="./html/reportes.html">Dar una Sugerencia</a></li> -->
                        </ul>
                    </div>
            </div>
        </div>
    </footer>
    <script src="../js/formulario.js"></script>
</body>
</html>