.Contenido{
    background: linear-gradient( #547A20, #9CC264);
    min-height: 100vh;
    padding: 20px 20px;
}
.contenedor-mensaje{
    max-width: 500px;
    margin-left: 100px;
    /* background: linear-gradient( #668c31,); */
    color: #fffbfb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #0a0a09 0 0 10px;
}

.contenedor-mensaje h3{
    color: #fffbfb;
    font-size: 2em;
    text-shadow: rgb(0, 0, 0) 5px 5px 5px;
    margin-bottom: 20px;
}

.Contenido{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.contenedor-formulario {
  margin-top: 100px;
  max-width: 600px;
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 2%;
  border-radius: 12px;
  font-size: 1.2em;
}

.formulario h1 {
  font-size: 1.5em;
  color: #668c31;
  margin-bottom: 20px;
  text-align: center;
}

.formulario__grupo{
  margin-top: 15px;
}

.formulario__label {
  font-size: 1.1em;
  color: #668c31;
}

.formulario__grupo-input{
    position: relative;
}

.formulario__input{
    margin: 5px 0px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding-right: 35px;
}

.formulario__input:focus{
    box-shadow: 0 0 10px #668c31;
}

.formulario__validacion-estado{
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 20px;
    opacity: 0;
}

#grupo__reporte .formulario__validacion-estado{
    bottom: 80px;
}

#grupo__descripcion_emprendimiento .formulario__validacion-estado{
    bottom: 40px;
}

#grupo__dropdown .formulario__validacion-estado{
    right: 20px;
    bottom: 15px;
}

.formulario__input-error{
    font-size: 12px;
    margin-top: 5px;
    margin-left: 5px;
    display: none;
}

.formulario__grupo-terminos{
  font-size: 0.8em;
  text-align: center;
}

.formulario__btn{
  width: 100%;
  background-color: #668c31;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.formulario__btn:hover{
    background-color: lightgray;
    color: #668c31;
    border: 1px solid #668c31;
}

.contenedor_link_iniciosesion{
    font-size: 0.8em;
    margin: 5% 0% 0% 0%;
}
.contenedor_link_iniciosesion a{
    color:  #547A20;
}
.contenedor_link_iniciosesion p{
    text-align: center;
}

#reporte, #descripcion_emprendimiento{
  resize: none; 
}

/*CSS LLAMADO POR EL JS*/

.formulario__mensaje{
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0px;
    font-size: 0.8em;
    color: #9c0505;
    display: none;
}

.formulario__mensaje-exito{
    color: #668c31;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    margin: 10px 0px;
    font-size: 0.8em;
    display: none;
}

.formulario__input-error-activo{
    display: block;
}

.formulario__mensaje-activo{
    display: block;
}

.formulario__mensaje-exito-activo{
    display: block;
}

/*---------VALIDACIONES--------------*/

.formulario__grupo-correcto .formulario__validacion-estado{
    color:  #668c31;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label{
    color: #9c0505;
}

.formulario__grupo-incorrecto .formulario__validacion-estado{
    color: #9c0505;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input{
    border: 2px solid #9c0505;
    box-shadow: 0 0 10px  #9c0505;
}


@media (max-width: 1113px) {

  .Contenido{
    flex-direction: column;
    gap: 5px;
    height: auto;
    padding:0px 20px;
  }
  .contenedor-formulario {
    width: 90%;
    margin: 100px 10px 0px 10px;
    padding:20px 20px;
}
  .contenedor-mensaje{
    width: 90%;
    text-align: center;
    margin: 20px;
    padding:20px 20px;
  }
}